.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.followButton, .messageButton {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.followButton {
  background-color: blue;
  color: white;
}

.messageButton {
  background-color: gray;
  color: white;
}
